@use 'sass:color';

@function get-rgb-list($color) {
    @return
    #{color.channel($color, "red", $space: rgb)},
    #{color.channel($color, "green", $space: rgb)},
    #{color.channel($color, "blue", $space: rgb)};
}

@function get-shade($color) {
    @return color.mix(#000, $color, 12%);
}

@function get-tint($color) {
    @return color.mix(#fff, $color, 10%);
}