@mixin font-style() {
    $cl-font-styles: normal italic oblique;

    @each $style in $cl-font-styles {
        .cl-font-style-#{$style} {
            font-style: $style;
        }
    }
}

@include font-style();