@mixin font-weight() {
    $cl-font-weights: 100 200 300 400 500 600 700 800 900;

    @each $weight in $cl-font-weights {
        .cl-font-weight-#{$weight} {
            font-weight: $weight;
        }
    }
}

@include font-weight();