@mixin spacing() {
  $cl-spacing-values: 0 4 8 12 16 24 32 40;

  @each $space in $cl-spacing-values {
    // Padding
    .cl-padding-#{$space} {
      padding: #{$space}px;
    }
    .cl-padding-top-#{$space} {
      padding-top: #{$space}px;
    }
    .cl-padding-bottom-#{$space} {
      padding-bottom: #{$space}px;
    }
    .cl-padding-left-#{$space} {
      padding-left: #{$space}px;
    }
    .cl-padding-right-#{$space} {
      padding-right: #{$space}px;
    }
    .cl-padding-horizontal-#{$space} {
      padding-right: #{$space}px;
      padding-left: #{$space}px;
    }
    .cl-padding-vertical-#{$space} {
      padding-top: #{$space}px;
      padding-bottom: #{$space}px;
    }

    // Margin
    .cl-margin-#{$space} {
      margin: #{$space}px;
    }
    .cl-margin-top-#{$space} {
      margin-top: #{$space}px;
    }
    .cl-margin-bottom-#{$space} {
      margin-bottom: #{$space}px;
    }
    .cl-margin-left-#{$space} {
      margin-left: #{$space}px;
    }
    .cl-margin-right-#{$space} {
      margin-right: #{$space}px;
    }
    .cl-margin-horizontal-#{$space} {
      margin-right: #{$space}px;
      margin-left: #{$space}px;
    }
    .cl-margin-vertical-#{$space} {
      margin-top: #{$space}px;
      margin-bottom: #{$space}px;
    }
  }
}

@include spacing();