@use 'theme/functions/color' as color;

@mixin dark-variables() {
    & {
        // Font
        --ion-font-family: 'Roboto';


        //Text
        --ion-text-color: #E8F0E8;

        --cl-secondary-text-color-rgb: 176, 189, 176;
        --cl-secondary-text-color: rgba(var(--cl-secondary-text-color-rgb), 0.6);

        // Toolbar
        --ion-toolbar-background: var(--ion-color-secondary);

        // Fills
        --cl-primary-fill-color-rgb: 102, 187, 106;
        --cl-primary-fill-color: rgba(var(--cl-primary-fill-color-rgb), 0.2);

        --cl-secondary-fill-color: rgba(var(--cl-primary-fill-color-rgb), 0.16);

        --cl-tertiary-fill-color-rgb: 188, 170, 164;
        --cl-tertiary-fill-color: rgba(var(--cl-tertiary-fill-color-rgb), 0.12);

        // Horizontal Rule
        --cl-horizontal-rule-color-rgb: 255, 255, 255;
        --cl-horizontal-rule-color: rgba(var(--cl-horizontal-rule-color-rgb), 0.2);
    }

    // Background
    --cl-background-list-row-color: #121512;
}