@use 'sass:map';

@use 'functions/color' as color;

$dark-palette: (
    primary: (
        base: #66BB6A,
        contrast: #0E1A10,
        namespace: "ion"
    ),
    secondary: (
        base: #4FC3F7,
        contrast: #081821,
        namespace: "ion" 
    ),
    tertiary: (
        base: #BCAAA4,
        contrast: #1A1311,
        namespace: "ion"
    ),
    success: (
        base: #81C784,
        contrast: #0E1A10,
        namespace: "ion"
    ),
    warning: (
        base: #FFD54F,
        contrast: #1B1F1B,
        namespace: "ion"
    ),
    error: (
        base: #EF5350,
        contrast: #2B0B0B,
        namespace: "ion"
    )
);

@mixin dark-palette() {
    & {
        @each $color, $props in $dark-palette {
            --#{map.get($props, namespace)}-color-#{$color}: #{map.get($props, base)};
            --#{map.get($props, namespace)}-color-#{$color}-rgb: #{color.get-rgb-list(map.get($props, base))};
            --#{map.get($props, namespace)}-color-#{$color}-contrast: #{map.get($props, contrast)};
            --#{map.get($props, namespace)}-color-#{$color}-contrast-rgb: #{color.get-rgb-list(map.get($props, contrast))};
            --#{map.get($props, namespace)}-color-#{$color}-shade: #{color.get-shade(map.get($props, base))};
            --#{map.get($props, namespace)}-color-#{$color}-tint: #{color.get-tint(map.get($props, base))};
        }
    }
}