
@use 'theme/light-palette';
@use 'theme/light-variables';
@use 'theme/dark-palette';
@use 'theme/dark-variables';
@use 'functions/font';
@use 'theme/components/index';

:root {
    @include light-palette.light-palette();
    @include light-variables.light-variables();
}

[dark-theme='dark'] {
    @include dark-palette.dark-palette();
    @include dark-variables.dark-variables();
}